*{
    margin: 0;
    padding: 0;
}
header{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: salmon;
    padding: 10px;
    margin: 0px auto;
}
#global{
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin:auto;
}
form{
    text-align: right;
}
#filtrer{
    margin-bottom: 5px;
    margin-right: 2px;
}
#conteneur{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
img{
    width: 200px;
    align-items: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}